body{
    background: url(bac.jpg);
    background-repeat: no-repeat;
    width:100% ;
    background-size:cover;
    aspect-ratio: 50/5;
    z-index: 0;
    margin-top: 50px;

}
.bdbd{
    color: rgb(201, 218, 212);
    cursor: pointer;
    background-color: green;
    padding: 5px 5px;
    border: none;
    border-radius: 20px;
}
.bdbd:hover{
    background: rgb(51, 156, 51);
}
.exc{
    margin: 100px 200px 100px 50px;
   
    position: relative;
    width: fit-content;
    background:url(dfg.jpeg),linear-gradient(rgba(137, 43, 226, 0.493),rgb(120, 114, 201));
    background-size: cover;
}
.ex{
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    color:brown;
}

.ad .ads{
    opacity: 0;
   position: absolute;
   top: -10px;
   left: 20px;
   pointer-events: none;
   border-radius: 3px;
   background: rgba(77, 72, 72, 0.288);
   padding: 10px 5px;
   white-space: nowrap;
}
::-webkit-scrollbar{
    scroll-behavior: smooth;

}
.ad:hover .ads{
    opacity: 1;
    transition: opacity 1s;
}
.ad{
    display: block;
    position: relative;
    margin-top: -2px;
    margin-left: 1090px;
    border-radius: 2px;
    color: rgb(24, 21, 21);
}
.ad:hover{
    background: #eeeeee52;
    transition: background 1s ;
}
.exn{
    display: inline-block;
    vertical-align: top;
    color: rgb(110, 163, 24);
    font-size: 50px;
    margin-top: 0;
    margin-left: 800px;
    position: relative;
}
h1{
    font-family: Roboto,sans-serif;
    color: rgb(31, 226, 31);
}
::-webkit-validation-bubble-heading{
    color: red;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    right: 0;
    padding: 0%;
    border: 1px solid papayawhip;
    background: linear-gradient(rgba(146, 116, 116, 0.699) ,rgba(0, 128, 0, 0.486));
}
p{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}